.Explore{   
    height: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
   background-color: rgb(2, 36, 41);
    color: #fff;
    padding-top: 8rem;
}
.Explore-our-h1{
    margin-top: 4rem;
    margin-left: 2.5rem;
    padding:10px 29px 10px 25px;
    border-radius: 28px;
    display: flex;
    gap: 1rem;
    background-color: rgb(6, 62, 69);
}
.Built-to-scale{
    margin-left: 2.5rem;
    width: 58%;
    line-height: .9;
    font-size: 100px;
    font-family: angellist, "angellist Fallback", sans-serif;
    color: rgb(205, 203, 255);
}
.AngelList-provider{
    margin-left: 2.5rem;
    width: 52%;
    font-size: 29px;
}
.contact-sales{
     margin-left: 2.5rem;
     background-color: rgb(255, 255, 255);
     color: black;
     padding:10px 19px;
     border-radius: 5px;
     margin-bottom: 2rem;
     font-size: 18px;
}